<h4 class="text-center mt-5">New users per day</h3>
<%= line_chart charts_users_per_day_path %>
<h4 class="text-center mt-5">New enrollments per day</h3>
<%= column_chart charts_enrollments_per_day_path %>
<h4 class="text-center mt-5">Most enrolled courses</h3>
<%= bar_chart charts_courses_popularity_path %>
<h4 class="text-center mt-5">Money makers</h3>
<%= bar_chart charts_money_makers_path %>
