<div class="card">
  <div class="card-header">
    <i class="fa-regular fa-square-check"></i>
    <%= link_to lesson.title, course_lesson_path(@course, lesson) %>
  </div>
  <% if policy(lesson).show? %>
    <div class="card-body">
      <%= lesson.content %>
    </div>
    <% if policy(lesson).edit? %>
      <div class="card-footer">
        <%= link_to 'Edit', edit_course_lesson_path(@course, lesson), class: 'btn btn-sm btn-outline-warning' %>
        <%= link_to 'Destroy', [@course, lesson], class: 'btn btn-sm btn-outline-danger', method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>
  <% end %>
</div>
