<p id="notice"><%= notice %></p>

<h1>Courses: <%= @courses.size %></h1>

<%= link_to new_course_path do %>
  <i class="fa-solid fa-square-plus"></i>
  New Course
<% end %>

<div class="container my-4">
  <div class="row" data-masonry='{"percentPosition": true }'>
    <% @courses.each do |course| %>
      <div class="col-sm-6 col-lg-4 mb-4">
        <%= render partial: "course", locals: { course: course } %>
      </div>
    <% end %>
  </div>
</div>
