<div class="footer bg-dark text-white p-4 mt-auto">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        Copyright
        ©
        <%= Time.now.year %>
        Paranabuka Tech
        <div class="row"></div>
        <div class="fa-solid fa-envelope"></div>
        <%= mail_to "paranabuka@gmail.com" %>
        <div class="row"></div>
      </div>
      <div class="col-md-4">
        <%= link_to "Privacy Policy", privacy_policy_path %>
        <div class="row"></div>
        Terms and conditions
        <div class="row"></div>
      </div>
      <div class="col-md-4">
        About Us
        <div class="row"></div>
        <%= link_to "Teach on CoursesApp", new_course_path %>
      </div>
    </div>
  </div>
</div>
